<html>
<head>
<title>Basic Calculator</title>
<script>
    //function to get display value and to clear display
function insert(value){
document.getElementById ("display").value+=value}
function clearDisplay(){
document.getElementById("display").value=""}
</script>
</head>
<body>
    //form is used for backend calculation
<form align="center" method="POST" action="/calculate">
<p text align ="center">
<label> Basic Calculator</label>
</p>
<input type="text" name="function" id="display" readonly>
//creating a table for buttons   and inserting them as table data
<table align="center">
    //row 1
<tr>
<td>
<input type="button" value="1" onclick="insert('1')">
</td>
<td>
<input type="button" value="2" onclick="insert('2')">
</td>
<td>
<input type="button" value="3" onclick="insert('3')">
</td>
<td>
<input type="button" value="+" onclick="insert('+')">
</td>
</tr>
//row2
<tr>
<td>
<input type="button" value="4" onclick="insert('4')">
</td>
<td>
<input type="button" value="5" onclick="insert('5')">
</td>
<td>
<input type="button" value="6" onclick="insert('6')">
</td>
<td>
<input type="button" value="*" onclick="insert('*')">
</td>
</tr>
//row 3
<tr>
<td>
<input type="button" value="7" onclick="insert('7')">
</td>
<td>
<input type="button" value="8" onclick="insert('8')">
</td>
<td>
<input type="button" value="9" onclick="insert('9')">
</td>
<td>
<input type="button" value="/" onclick="insert('/')">
</td>
</tr>
//row 4
<tr>
<td>
<input type="button" value="0" onclick="insert('0')">
</td>
<td>
<input type="button" value="-" onclick="insert('-')">
</td>
<td>
<input type="button" value="%" onclick="insert('%')">
</td>
<td>
<input type="button" value="clear" onclick="clearDisplay()">
</td>
</tr>
</table>
// submit button i.e. = sign button for calculating 
<input type="submit" value="=">
</form>
//used for representing the result value concluded
{% if result %}
<h3 align="center">Result={{result}}</h3>
{%endif%}
</body>
</html>